@using CC.Core.Html.CCUI

@model MethodFitness.Web.Models.EmailViewModel

<div class="fieldRow">
    @Html.SubmissionFor(x => x.From).AddClassToRoot("three-quarters").ToHtmlTag()
</div>
<div class="fieldRow">
    @Html.SubmissionFor(x => x.To).AddClassToRoot("one-quarter").ToHtmlTag()
</div>
<div class="fieldRow">
    @Html.SubmissionFor(x => x.Subject).AddClassToRoot("one-quarter").ToHtmlTag()
</div>
<div class="fieldRow">
    @Html.SubmissionFor(x => x.Body).AddClassToRoot("one-quarter").ToHtmlTag()
</div>