@using CC.Core.Html.CCUI

@model MethodFitness.Web.Models.EmailViewModel

<div id="email">
<div id="popupMessageContainer"></div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.From).AddClassToRoot("three-quarters").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.To).AddClassToRoot("three-quarters").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Subject).AddClassToRoot("three-quarters").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @Html.SubmissionFor(x => x.Body).AddClassToInput("large").ToHtmlTag()
    </div>
</div>