@using CC.Core.Html.CCUI

@model MethodFitness.Web.Models.EmailViewModel

<div id="email">
    <div id="popupMessageContainer"></div>
    <div class="content-inner">
        <div class="form">
            <div class="row">
                @Html.SubmissionFor(x => x.From).Size("8").AddClassToRoot("three-quarters").ToHtmlTag()
            </div>
            <div class="row">
                @Html.SubmissionFor(x => x.To).Size("8").AddClassToRoot("three-quarters").ToHtmlTag()
            </div>
            <div class="row">
                @Html.SubmissionFor(x => x.Subject).Size("15").AddClassToRoot("three-quarters").ToHtmlTag()
            </div>
            <div class="row">
                @Html.SubmissionFor(x => x.Body).Size("15").AddClassToInput("large").ToHtmlTag()
            </div>
        </div>
    </div>
</div>