@using MethodFitness.Core
@using MethodFitness.Web
@model ListViewModel

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
}
@*@section HeaderJavascript{*@
@*    $(document).ready(function(){*@
@*        gridControllerOptions.id="trainer";*@
@*        gridControllerOptions.searchField="LastName"*@
@*        new mf.TrainerController(gridControllerOptions);*@
@*    });*@
}

<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
