[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
 
_ReSharper.*
*.resharper
*.vspscc
*.vssscc
.idea
App_Data
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.[Ll]og
*.[Ll]ogs/
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*