
@using DecisionCritical.Core.Domain
@using DecisionCritical.Core.Html.FubuUI;
@using DecisionCritical.Web;
@using DecisionCritical.Web.Models;
@using HtmlTags


@{ Layout = "~/Views/Shared/_PortViewTemplate.cshtml"; }



<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>

