<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <add key="MethodFitness.sql_server_connection_string" value="Data Source=RaifHarik-mac;Initial Catalog=MethodFitness_DEV;Integrated Security=True;" />

<!--  <add key="MethodFitness.sql_server_connection_string" value="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_21609_methodfitnes;User ID=DB_21609_methodfitnes_user;Password=meth0d;Integrated Security=False;"/>-->
	  
</appSettings>
