<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <add key="MethodFitness.sql_server_connection_string" value="Data Source=Harik-pc;Initial Catalog=MethodFitness_DEV;Integrated Security=True;" />

<!--      Pcik One:-->
<!--	  <add key="MethodFitness.sql_server_connection_string" value="Data Source=(local);Initial Catalog=MethodFitnessSuite;Trusted_Connection=Yes;" />-->
<!--	  <add key="MethodFitness.sql_server_connection_string" value="Data Source=(local);Initial Catalog=MethodFitnessSuite;user id=edr_user;password=nolatwain;" />-->
<!--	  <add key="MethodFitness.sql_server_connection_string" value="Data Source=MF02;Initial Catalog=MethodFitnessSuite;user id=edr_user;password=nolatwain;" />-->
<!--      QA:-->
<!--		<add key="MethodFitness.sql_server_connection_string" value="Data Source=174.122.198.242;Initial Catalog=MethodFitnessSuite_QA;user id=edr_user;password=nolatwain;" />-->
<!--	  PUBLIC PROD :   -->
<!--		<add key="MethodFitness.sql_server_connection_string" value="Data Source=174.122.198.2;Initial Catalog=MethodFitnessSuite;user id=edr_user;password=nolatwain;" />-->

	  
</appSettings>
