<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <add key="MethodFitness.sql_server_connection_string" value="Data Source=(Local);Initial Catalog=MethodFitness_dev;Integrated Security=True;" />
<!--  <add key="MethodFitness.sql_server_connection_string" value="Data Source=woad.arvixe.com;Initial Catalog=methodfitness_PROD;User ID=methodFit;Password=meth0d;Integrated Security=False;"/>-->
<!--  <add key="MethodFitness.sql_server_connection_string" value="Data Source=woad.arvixe.com;Initial Catalog=methodfitness_PROD;User ID=methodFit;Password=meth0d;Integrated Security=False;"/>-->
<!--  <add key="MethodFitness.sql_server_connection_string" value="Server=cannibalcoder.cloudapp.net;Database=MethodFitness_QA;User ID=methodfitness;Password=m3th0d;Connection Timeout=30;" />-->

</appSettings>
