@using CC.Core.Core.Html.CCUI
@using MF.Web
@model MF.Web.Areas.Reporting.Controllers.TrainerMetricViewModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<div class="row">
        @Html.SubmissionFor(x=>x.TrainerEntityId).Size("5").ToHtmlTag()
        @Html.SubmissionFor(x=>x.StartDate).Size("3").ToHtmlTag()
        @Html.SubmissionFor(x => x.EndDate).Size("3").ToHtmlTag()
</div>

@section FooterButtons
{
    @StandardButtonFor("viewReport", WebLocalizationKeys.VIEW_REPORT).AddClass("save").ToHtmlTag()
}

