@using CC.Core.Html.CCUI
@using MethodFitness.Web
@model MethodFitness.Web.Areas.Reports.Controllers.DailyPaymentViewModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<div class="col full">
    <div class="fieldRow">
        @Html.SubmissionFor(x=>x.Date).AddClassToRoot("one-third").ToHtmlTag()
    </div>
    <div class="fieldRow">
        @StandardButtonFor("viewReport", WebLocalizationKeys.VIEW_REPORT).AddClass("save").ToHtmlTag()
    </div>
</div>

