<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <!-- Application Connection String -->
  <!-- Application Connection String -->
  <add key="MethodFitness.sql_server_connection_string" value="Data Source=RHARIK-PC\MSSQLSERVER2012;Initial Catalog=MethodFitness_DEV;Integrated Security=True;" />
<!--  <add key="MethodFitness.sql_server_connection_string" value="Server=cannibalcoder.cloudapp.net;Database=MethodFitness_QA;User ID=methodFitness;Password=m3th0d;Connection Timeout=30;" />-->
  <!-- END Application Connection String -->
  <!-- END Application Connection String -->

  <!-- Configuration Connection String -->
  <!-- Configuration Connection String -->
  <add key="constring_DEV" value="Data Source=RHARIK-PC\MSSQLSERVER2012;Initial Catalog=MethodFitness_DEV;Integrated Security=True;" />
  <add key="constring_CANNIBAL_QA" value="Server=cannibalcoder.cloudapp.net;Database=MethodFitness_QA;User ID=methodfitness;Password=m3th0d;Connection Timeout=30;" />
  <!-- END Configuration Connection String -->
  <!-- END Configuration Connection String -->

  <!-- General App Settings -->
  <add key="Name" value='System Support' />
  <add key="Host" value='http://localhost:666' />
  <add key="LanguageDefault" value= 'en-US' />
  <add key="ScriptsPath" value='~/content/scripts/' />
  <add key="CssPath" value='~/content/css/' />
  <add key="ImagesPath" value='/content/images/' />
  <add key="WebSiteRoot" value='SystemSupport.Web' />
  <add key="TrainerClientRateDefault" value="65" />
  <add key="jsApplicationName" value="MF" />
  <add key="LastDayOfPayWeek" value='Sunday' />
  <add key="AdminEmail" value='reharik@gmail.com' />
  <add key="SMTPServer" value='outgoing.verizon.net' />
  <add key="SMTPUN" value='m,fds./43Do903' />
  <!-- END General App Settings -->

  <!-- Default Client Session Rates -->
  <add key="Client.SessionRates.FullHour" value="65" />
  <add key="Client.SessionRates.HalfHour" value="38" />
  <add key="Client.SessionRates.FullHourTenPack" value="600" />
  <add key="Client.SessionRates.HalfHourTenPack" value="350" />
  <add key="Client.SessionRates.Pair" value="45" />
  <add key="Client.SessionRates.PairTenPack" value="400" />
  <!-- END Default Client Session Rates -->

</appSettings>
