<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportingDataSets.Properties.Settings.MethodFitness_DEV_ConnectionString"
            connectionString="Data Source=woad.arvixe.com;Initial Catalog=methodfitness_PROD;User ID=methodFit;Password=meth0d;Integrated Security=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>