<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MethodFitness.Reporting.Properties.Settings.MethodFitness_DEV_ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=MethodFitness_DEV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />       
        
       
    </startup>
</configuration>